.Card{
    margin: 50px auto 20px auto;
    padding: 30px 20px;
    max-width: 600px;

    .CardTitle{
        font-size: 15px;
        font-weight: bold;
        margin: 10px 0px 5px;
        text-align: center;
        text-transform: uppercase;
    }
}