.Card{
    background-color: white;
    margin: 50px auto 20px auto;
    padding: 10px 40px 30px 40px;
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 500px;

    .CardTitle{
        font-size: 28px;
        font-weight: bold;
        margin: 10px 0px 20px;
        text-align: center;
        text-transform: uppercase;
    }
}