.ProductListPage{
    .CategoryListContainer{
        width: 300px;
        padding: 120px 20px 20px 20px;

        .CategoryList{
            font-size: 24px;
            padding: 20px 0px 20px 10px;

            .Item{
                color: #333;

                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}