name: Build and Deploy React App to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "22"

    - name: Install dependencies
      run: npm install

    - name: Build React app
      run: npm run build

    - name: Upload to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: "thumbsupgroceries"
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: build 
