name: Build and Deploy React App to Azure via OIDC

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build:production

    - name: Azure Login via OIDC
      uses: azure/login@v2
      with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1B0DF2BCA6F7419D86BD36EB4B30C009 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D2F0014EFED147A6897E97E702E5A180 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_EBAB58062C944A36A693E6A0DDFB779F }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: "thumbsupgroceries"
        package: "build"


